.flex {
    display: flex;
    border: 1px solid black;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.header-conteudo-meio {
    
}

.nav-img {
    flex: 1
}

.nav-conteudo {
    flex: 4;
}

.nav-info {
    flex: 1;
}

.section-main {
    display: flex;
    flex: 5;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
}

.aside-main {
    display: flex;
    flex: 1;
    background-color: rgb(83, 83, 194);
    text-align: center;
}
.conteudo-section {
    max-height: 250px;
    width: 25%;
    background-color: bisque;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 85px;
}

header {
    width: 100%;
}
main {
    width: 100%;
    height: 600px;
}
footer {
    width: 100%;
    height: 50px;
}